.money-form-icon {
  width: 1em;
}

.money-table > tbody > tr > td {
  line-height: 2em;
}

.money-new-object-btn {
  padding-left: 0;
}

.money-amount-income {
  color: $brand-success;
}

.money-amount-expense {
  color: $brand-primary;
}

.bootstrap-select {
  button.money-selectpicker {
    background-color: $body-bg;
    border-color: $input-border;
  }

  ul.dropdown-menu > li {
    a:hover, a:focus {
      color: $pager-active-color;
      background-color: $brand-primary;
    }
  }
}

.input-group .form-control {
  z-index: auto;
}
