/* Sticky footer styles
 * http://getbootstrap.com/examples/sticky-footer-navbar/ */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 4.5em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 4em;
  background-color: #f5f5f5;

  .container .text-muted {
    margin: 1.33em;
    text-align: center;
  }
}

.section-heading {
  line-height: 5em;
}

@media (min-width: 768px) {
  .money-main-container {
    margin-left: 23em;
  }
}
