.money-sidebar {
  padding-top: 1em;

  @media (min-width: 768px) {
    z-index: 1;
    position: absolute;
    width: 21em;
    margin-top: 2em;
    padding: 0 1em 0;
  }

  .money-sidebar-title {
    font-weight: bold;
    color: $gray-dark;
    background-color: $gray-lighter;
    border-color: $gray-light;

    // &.active {
    //   color: rgb(255, 255, 255);
    //   background-color: $component-active-bg;
    //   border-color: $component-active-bg;
    //   pointer-events: none;
    // }
    // &.active:hover {
    //   background-color: darken($component-active-bg, 15%);
    // }
  }

  .active {
    pointer-events: none;

    span.money-amount-income, span.money-amount-expense {
      color: $pager-active-color;
    }
  }

  .money-sidebar-icon {
    padding-right: 0.15em;
    font-weight: bold;
  }
}
