<!-- fade in -->
<div class="modal fade in" id="accountFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" style="display: block; padding-left: 0px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action "close"}}>
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">New Account</h4>
      </div>
      <form class="new_account" id="new_account">
        <div class="modal-body">
          <div class="form-group">
            <label for="account_account_type">Account type</label>
            <div class="input-group">
              <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-primary active" for="account_account_type_bank">
                  Bank
                </label>
                <label class="btn btn-primary" for="account_account_type_cash">
                  Cash
                </label>
                <label class="btn btn-primary" for="account_account_type_credit_card">
                  Credit Card
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="account_name">Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-user money-form-icon"></i></div>
              {{input value=model.name class="form-control" required="required" type="text"}}
            </div>
          </div>
          <div class="form-group">
            <label for="account_starting_balance">Starting balance</label>
            <div class="input-group">
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-usd money-form-icon"></i></div>
                    {{input value=model.starting_balance class="form-control" required="required" step="0.01" type="number"}}
                  </div>
                </div>
                <div class="col-md-6 col-xs-6">
                  <label class="sr-only" for="account_currency">Currency</label>
                  <select class="form-control selectpicker bs-select-hidden" onchange={{action "selectCurrency" value="target.value"}}>
                    <option value="USD" selected>Dollars</option>
                    <option value="UYU">Uruguayan Pesos</option>
                    <option value="ARS">Argentine Pesos</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button name="button" type="reset" class="btn btn-default" data-dismiss="modal" {{action "close"}}>Cancel</button>
          <input type="submit" name="commit" value="Create Account" class="btn btn-primary" {{action "save"}}>
        </div>
      </form>
    </div>
  </div>
</div>
