<div class="container-fluid">
  <div class="section-heading row">
    <div class="col-md-10 col-xs-8">
      <h2>My Accounts</h2>
    </div>
    <div class="col-md-2 col-xs-4 money-new-object-btn">
      {{#link-to "accounts.new" class="btn btn-primary"}}
        New Account
      {{/link-to}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="accountsListing" class="table table-striped money-table ">
          <thead>
            <tr>
              <th class="col-md-1 col-xs-1"></th>
              <th>Name</th>
              <th>Balance</th>
              <th class="col-md-2 col-xs-4"></th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |account|}}
              <tr>
                <td><i class="fa fa-bank fa-2x"></i></td>
                <td>{{account.name}}</td>
                <td><span class="money-amount-income">{{account.currency}} {{account.balance}}</span></td>
                <td>
                  <a class="btn btn-default btn-sm" role="button" href="#">Edit</a>
                  <a class="btn btn-danger btn-sm" role="button" data-sweet-alert-confirm="Are you sure you want to delete this account?" data-remote="true" rel="nofollow" data-method="delete" href="#">Delete</a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div id="noAccountsAlert" class="alert alert-info hidden" role="alert">
        <strong>Heads up!</strong> Click on the New Account button to add your first account
      </div>
    </div>
  </div>
  {{outlet}}
</div>
