<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <i class="fa fa-dollar"></i> Money
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
  <div class="col-md-2 money-sidebar collapse navbar-collapse" role="navigation">
    <div class="panel panel-default">
      <div class="list-group">
        <a class="list-group-item money-sidebar-title " href="#">Overview</a>
      </div>
    </div>
  </div>
</nav>
<div class="money-main-container">
  {{outlet}}
</div>
<footer class="footer">
  <div class="container">
    <p class="text-muted">Crafted with passion and tons of <i class="fa fa-coffee"></i> by <a target="_blank" href="https://www.wyeworks.com">WyeWorks</a> - 2015
    </p>
  </div>
</footer>
